<div class="fixed inset-0 z-30 flex items-end bg-black bg-opacity-75 sm:items-center sm:justify-center">
    <div class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl" role="dialog" id="modal">
        <div class="mt-1 mb-5">
            <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
                <%= activity_service %> - Activity
            </p>
            <div class="grid gap-y-4 p-4 max-h-96 overflow-y-auto">
                <% activity_logs.sort((a, b) => b.time - a.time).forEach((log) => { %>
                    <div class="dark:text-gray-400 text-gray-500 text-sm grid gap-y-1 border-b border-gray-200 dark:border-gray-600 pb-4 relative">
                        <h2 class="font-medium text-gray-900 pr-20 dark:text-gray-100 text-base">
                            <%= log.username %>
                        </h2>
                        <div><%= log.message %></div>
                        <div class="absolute top-0 right-0"><%= new Date(log.time).toLocaleTimeString('en-US', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC', hour: '2-digit', minute:'2-digit', hour12: false, timeZoneName: 'short'}) %></div>
                    </div>
                <% }); %>
            </div>
        </div>
        <footer class="flex flex-col items-center justify-end px-6 py-3 -mx-8 -mb-4 space-y-4 sm:space-y-0 sm:space-x-4 sm:flex-row bg-gray-100 dark:bg-gray-800">
            <a href="/" class="text-center w-full px-5 py-3 text-sm font-medium leading-5 text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">
                Close
            </a>
        </footer>
    </div>
</div>
