<div class="fixed bottom-0 lg:border-r top-16 right-0 p-6 lg:w-80 border-l border-gray-200 bg-gray-100 w-full overflow-auto lg:block hidden">
    <div class="font-bold text-xl tracking-tight mb-8">Activity</div>
    <div class="grid gap-y-4">
        <% logs_activity.sort((a, b) => b.time - a.time).forEach((log) => { %>
            <div class="relative text-gray-500 text-sm grid gap-y-1 border-b border-gray-200 pb-4">
                <h2 class="font-medium text-gray-900 pr-20 dark:text-gray-100 text-base">
                    <%= log.username %>
                </h2>
                <div><%= log.message %></div>
                <div class="absolute top-0 right-0"><%= getTimeAgo(log.time) %></div>
            </div>
        <% }); %>
    </div>
</div>
