<div class="fixed bottom-0 lg:border-r top-16 left-0 p-6 lg:w-80 border-l border-gray-200 bg-gray-100 w-full overflow-auto lg:block hidden dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200 text-gray-800">
    <div class="font-bold text-xl tracking-tight mb-8">Activity</div>
    <div class="grid gap-y-4">
        <% logs_activity.sort((a, b) => b.time - a.time).slice(0, 25).forEach((log) => { %>
            <div class="dark:text-gray-400 text-gray-500 text-sm gap-y-1 grid border-b border-gray-200 dark:border-gray-600 pb-4 relative">
                <h2 class="font-medium text-gray-900 pr-8 dark:text-gray-100 text-base">
                    <%= log.username %>
                </h2>
                <div class="break-all"><%= log.message %></div>
                <div class="absolute top-0 right-0"><%= getTimeAgo(log.time) %></div>
            </div>
        <% }); %>
    </div>
</div>
