<header class="z-10 h-16 py-2 border-gray-200 dark:border-gray-600 border-b dark:bg-gray-800 backdrop-blur bg-white/75 fixed top-0 w-full left-0">
    <div class="container flex items-center justify-between h-full px-6 mx-auto text-purple-400 dark:text-purple-400">
        <a href="/" aria-label="Homepage" title="Homepage">
            <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-200">
                <svg class="md:mr-2 w-10 h-10 align-middle inline" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <rect stroke-linejoin="round" stroke-width="1" stroke="#FFFFFF" fill="#1f2937" height="3" width="6" y="3" x="9"></rect>
                    <path stroke-linejoin="round" stroke-width="1" stroke="#FFFFFF" fill="#1f2937" d="M5 21H19L22 13L12 9L2 13L5 21Z"></path>
                    <path stroke-linejoin="round" stroke-width="1" stroke="#FFFFFF" fill="#1f2937" d="M19 6H5V11.8L12 9L19 11.8V6Z"></path>
                </svg>
                <span class="hidden md:inline-block align-middle">
                    <%= app_title %>
                </span>
            </h2>
        </a>
        <div class="flex justify-center flex-1 h-10">
            <div class="relative w-full max-w-xl mx-6 focus-within:text-purple-500">
                <div class="absolute inset-y-0 flex items-center pl-2">
                    <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                    </svg>
                </div>
                <form action="/" method="get">
                    <input class="w-full h-10 pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input" type="text" name="search" value="<%= search %>" placeholder="Search for services" aria-label="Search"/>
                </form>
            </div>
        </div>
        <ul class="flex items-center flex-shrink-0 space-x-6">
            <li>
                <div class="align-middle rounded-full">
                    <img class="object-cover w-10 h-10 rounded-full" src="https://www.gravatar.com/avatar/1d4a372291204c3fb76a5ca0009b1916" alt="Profile Picture"/>
                </div>
            </li>
        </ul>
    </div>
</header>
